<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Experiencia Laboral</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="app-bg">
  <div class="page-wrap">
    <div class="page-card">
      <h2 class="page-title">Experiencia</h2>
      <p class="page-subtitle">Registra información laboral.</p>

      <ion-item class="compact-item">
        <ion-label position="stacked">Empresa</ion-label>
        <ion-input [(ngModel)]="empresa"></ion-input>
      </ion-item>

      <ion-item class="compact-item">
        <ion-label position="stacked">Año inicio</ion-label>
        <ion-input [(ngModel)]="anioInicio" type="number"></ion-input>
      </ion-item>

      <ion-item class="compact-item">
        <ion-label>¿Trabaja actualmente ahí?</ion-label>
        <ion-toggle [(ngModel)]="actual"></ion-toggle>
      </ion-item>

      <ion-item class="compact-item" *ngIf="!actual">
        <ion-label position="stacked">Año término</ion-label>
        <ion-input [(ngModel)]="anioTermino" type="number"></ion-input>
      </ion-item>

      <ion-item class="compact-item">
        <ion-label position="stacked">Cargo</ion-label>
        <ion-input [(ngModel)]="cargo"></ion-input>
      </ion-item>

      <ion-button expand="block" class="neon-btn compact-footer-btn" (click)="guardar()">
        Guardar
      </ion-button>
    </div>
  </div>
</ion-content>
