.notfound-bg {
  --background: radial-gradient(circle at top, #5c258d, #1b1b2f);
}

.notfound-container {
  text-align: center;
  margin-block-start: 30vh;
  color: #ffffff;

  h2 {
    font-size: 64px;
    margin-block-end: 8px;
  }

  p {
    margin-block-end: 16px;
  }
}
