<ion-content class="ion-padding">
  <div class="page-center">
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title>Iniciar sesión</ion-card-title>
        <ion-card-subtitle>Accede para continuar</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>

        <div class="actions">
          <ion-button class="primary-btn" expand="block" (click)="login()">
            ENTRAR
          </ion-button>

          <ion-button class="secondary-btn" expand="block" fill="outline" (click)="goRegister()">
            CREAR CUENTA
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
