<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Mi App</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">SALIR</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="home-container">
    <div class="home-card">
      <h2>¡Bienvenido, {{ email }}!</h2>
      <p>Elige una sección para continuar.</p>

      <ion-list>
        <ion-item lines="none">
          <ion-button expand="block" fill="outline" (click)="goTasks()">
            TAREAS (API + PERSISTENCIA)
          </ion-button>
        </ion-item>

        <ion-item lines="none">
          <ion-button expand="block" fill="outline" (click)="goCatalog()">
            CATÁLOGO / PLANES
          </ion-button>
        </ion-item>

        <ion-item lines="none">
          <ion-button expand="block" fill="outline" (click)="goMisDatos()">
            MIS DATOS
          </ion-button>
        </ion-item>

        <ion-item lines="none">
          <ion-button expand="block" fill="outline" (click)="goExperiencia()">
            EXPERIENCIA LABORAL
          </ion-button>
        </ion-item>

        <ion-item lines="none">
          <ion-button expand="block" fill="outline" (click)="goCertificaciones()">
            CERTIFICACIONES
          </ion-button>
        </ion-item>

        <ion-item lines="none">
          <ion-button expand="block" fill="outline" (click)="goCamara()">
            CÁMARA (PLUGIN)
          </ion-button>
        </ion-item>

        <ion-item lines="none">
          <ion-button expand="block" fill="outline" (click)="goMapa()">
            MAPA / GEOLOCALIZACIÓN
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
