<ion-header>
  <ion-toolbar class="topbar">
    <ion-title>Mis Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page">
  <div class="container">
    <div class="card">
<ion-header>
  <ion-toolbar>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Datos del Usuario</h2>

  <p>Email: {{ email }}</p>

  <ion-button expand="block" routerLink="/home2" style="margin-block-start:20px">
    Volver al Inicio
  </ion-button>
</ion-content>
