:root {
  /** Color primario morado */
  --ion-color-primary: #6c5ce7;
  --ion-color-primary-rgb: 108, 92, 231;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #5b4fcf;
  --ion-color-primary-tint: #7a6ff0;

  /** Secundario celeste/azul */
  --ion-color-secondary: #00b4d8;
  --ion-color-secondary-rgb: 0, 180, 216;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0093b3;
  --ion-color-secondary-tint: #1ec0de;

  /** Fondo oscuro tipo “galaxia” */
  --ion-background-color: #050816;
  --ion-background-color-rgb: 5, 8, 22;
  --ion-text-color: #e5e7eb;
}
:root {
  --ion-color-tertiary: #7d5cff;
  --ion-color-tertiary-contrast: #ffffff;
}
